<!-- Footer -->
<footer class="page-footer font-small p-3 mb-2 bg-light text-black">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Attribution 4.0 International (CC BY 4.0) ||
        <a href="#"> DigitalCareerInstitute - FbW12</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->