<div>
  <h2>Login to UsersDB</h2>
  <form method="POST" action="/users/login">
    <input type="email" name="email" required class="form-control mb-4">
    <input type="password" name="password" required class="form-control mb-4">
    <button type="submit">Login</button>
  </form>
</div>