<div class="row">
    <div class="col-12">
        <h2>User Login</h2>
    </div>
    <div class="col-md-6">
        <form class="border border-light p-5" method='POST'>
            <input type="text" name="email" class="form-control mb-4" placeholder="Email" required>
            <input type="password" name="password" class="form-control mb-4" placeholder="Password" required>
            <button class="btn btn-info btn-block my-4" type="submit">Login</button>
        </form>
    </div>
</div>